
body {
    font: 14px sans-serif;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}

.wrapper_register, .wrapper_reset_pwd, .wrapper_login {
    width: 360px;
    padding: 20px;
}

table tr td:last-child {
    width: 120px;
}


/* Formatting search box */
.search-box {
    width: 300px;
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.search-box input[type="text"] {
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}

.result {
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}

.search-box input[type="text"], .result {
    width: 100%;
    box-sizing: border-box;
}

/* Formatting result items */
.result p {
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}

.result p:hover {
    background: #f2f2f2;
}
